@import "./**/*";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url(https://fonts.googleapis.com/css?family=Calligraffitti|Tangerine|Hind+Siliguri:300&subset=bengali);

body {
  padding-top: 55px;
}

section {
  height: 100vh;
  width: 100vw;
  padding-top: 15px;
  padding-bottom: 15px;
}

.modal {
  .modal-body {
    &.no-padding {
      padding: 0;

      .close {
        top: 12px;
        left: 20px;
        z-index: 999;
        position: absolute;
      }
    }

    embed {
      min-width: 100%;
      min-height: 80vh;
    }

    img {
      max-width: 100%;
    }
  }
}

