@import "./**/*";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "jquery-ui/autocomplete";
@import "markdown";
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab|Roboto:300,400,500,700|Tangerine|Indie+Flower|Josefin+Sans:600|Hind+Siliguri:300&subset=bengali);
body {
  padding-top: 55px;
}

section {
  min-height: 100vh;
  padding-top: 15px;
  padding-bottom: 15px;
}

.hidden {
  display: none;
}

.validation-text {
  color: #730E15;
}

.modal {
  text-align: center;

  .loader {
    margin-top: 10rem;
    h1 {
      color: #FFFFFF;
      margin: 2rem;
    }
  }

  .modal-lg {
    width: 1080px;
  }

  .modal-body {
    &.no-padding {
      padding: 0;

      .close {
        top: 3%;
        left: 3%;
        z-index: 999;
        position: absolute;
      }
    }

    embed {
      min-width: 100%;
      min-height: 80vh;
    }

    img {
      width: 100%;
    }
  }
}

.pager li a {
  border-color: #0275D8;
}

.pager li.disabled a {
  border-color: #818a91;
}