@import "style";
@import "reset";

.filters {
  margin-top: 15px;
  font-family: "Comic Sans MS", sans-serif;

  .topics {
    margin-top: 40px;
    margin-bottom: 20px;

    .topic {
      margin-top: 10px;

      .c-indicator {
        top: 4px;
        border: 1px solid #CCCCCC;
      }
    }
  }
}

.ui-helper-hidden-accessible {
  display: none;
}

.ui-autocomplete {
  padding-left: 0;
  margin-top: 2px;
  border: 1px solid #CCCCCC;
  background-color: #FFFFFF;

  .ui-menu-item {
    padding: 5px 20px;
    font-family: "Comic Sans MS", sans-serif;
    @extend .dropdown-item;
  }
}

#write-up {
  h2 {
    color: #3E5077;
    font-weight: 700;
    font-size: 3.6rem;
    font-family: "Playfair Display", serif;
    line-height: 1.2;
    text-align: center;
    margin: 1.5rem auto;
  }

  p.content {
    color: #3E5077;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: 'Indie Flower', cursive;
    text-align: justify;
  }

  .image, .video, .slide {
    display: block;
    margin: 1.5rem auto;
  }

  .markdown {
    display: block;
    margin: 1.5rem auto;
  }
}
