@import "style";
@import "reset";

.filters {
  margin-top: 1rem;
  font-family: "Comic Sans MS", sans-serif;

  .title {
    color: #BD4D1E;
    margin-top: 1rem;
    text-align: center;
  }

  .search-query {
    border: 1px solid #5CB85C;
  }

  .topic-filter {
    margin-top: 2.5rem;
    margin-bottom: 1rem;

    .topic {
      margin-top: 0.5rem;

      .c-indicator {
        top: 5px;
        border: 1px solid #CCCCCC;
      }
    }
  }
}

.ui-helper-hidden-accessible {
  display: none;
}

.ui-autocomplete {
  padding-left: 0;
  margin-top: 2px;
  border: 1px solid #CCCCCC;
  border-radius: 0.25rem;
  background-color: #FFFFFF;

  .ui-menu-item {
    padding: 5px 20px;
    font-family: "Comic Sans MS", sans-serif;
  }

  .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
  .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    color: #FFF;
    border: none;
    border-radius:0;
    background: #959595;
  }
}

#write-up {
  .title {
    color: #3E5077;
    font-weight: 700;
    font-size: 3.6rem;
    font-family: "Playfair Display", serif;
    line-height: 1.2;
    text-align: center;
    margin: 1.5rem auto;
  }

  .column {
    margin-top: 1.5rem;
  }

  .image, .video, .slide {
    display: block;
    margin: 0 auto;
  }

  .image {
    max-height: 300px;
  }

  .code {
    width: 80%;
    margin-top: 3rem;

    .copy {
      cursor: pointer;
    }
  }

  .markdown {
    display: block;
    padding: 1.5rem;
    border: 1px solid #EEE;
  }
}

.blog-posts {
  .blog-post {
    margin: 8rem auto;

    h2 {
      color: #3E5077;
      font-weight: 700;
      font-size: 3.6rem;
      font-family: "Playfair Display", serif;
      line-height: 1.2;
      text-align: center;
      margin: 1.5rem auto;
    }

    em {
      padding: 1.5rem 0;
    }

    p {
      margin: 2rem auto;
      text-align: justify;
    }
  }
}
