.filters {
  margin-top: 15px;
  font-family: "Comic Sans MS", sans-serif;

  .topics {
    margin-top: 40px;
    margin-bottom: 20px;

    .topic {
      margin-top: 10px;

      .c-indicator {
        top: 4px;
        border: 1px solid #CCCCCC;
      }
    }
  }
}

.ui-helper-hidden-accessible {
  display: none;
}

.ui-autocomplete {
  padding-left: 0;
  margin-top: 2px;
  border: 1px solid #CCCCCC;
  background-color: #FFFFFF;

  .ui-menu-item {
    padding: 5px 20px;
    font-family: "Comic Sans MS", sans-serif;
    @extend .dropdown-item;
  }
}

.card {
  .column {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .card-title {
    text-align: center;
  }
  .card-text {
    text-align: justify;
  }

  video {
    width: 100%;
  }
}
