@import "style";
@import "reset";

.filters {
  margin-top: 15px;
  font-family: "Comic Sans MS", sans-serif;

  hr {
    color: #BD4D1E;
    border-color: #BD4D1E;
    background-color: #BD4D1E;
  }

  .title {
    color: #BD4D1E;
    text-align: center;
  }

  .search-query {
    border: 1px solid #5CB85C;
  }

  .topic-filter {
    margin-top: 40px;
    margin-bottom: 20px;

    .topic {
      margin-top: 10px;

      .c-indicator {
        top: 5px;
        border: 1px solid #CCCCCC;
      }
    }
  }
}

.ui-helper-hidden-accessible {
  display: none;
}

.ui-autocomplete {
  padding-left: 0;
  margin-top: 2px;
  border: 1px solid #CCCCCC;
  background-color: #FFFFFF;

  .ui-menu-item {
    padding: 5px 20px;
    font-family: "Comic Sans MS", sans-serif;
  }

  .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
  .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    color: #FFF;
    border: none;
    border-radius:0;
    background: #959595;
  }
}

#write-up {
  .title {
    color: #3E5077;
    font-weight: 700;
    font-size: 3.6rem;
    font-family: "Playfair Display", serif;
    line-height: 1.2;
    text-align: center;
    margin: 1.5rem auto;
  }

  .content {
    color: #959595;
    font-size: 1.0rem;
    text-align: justify;
    padding-top: 0.8rem;
    border-top: 1px solid #EEE;
  }

  .image, .video, .slide {
    display: block;
    margin: 1.5rem auto;
  }

  .markdown {
    display: block;
    padding: 0 1.5rem;
    border-left: 1px solid #EEE;
  }
}
