.navbar {
  font-size: 1rem;
  background-color: #12365A;

  .navbar-brand {
    padding-top: 0;
  }

  .navbar-brand, .nav-link {
    color: #B1B1B1;
    &:hover {
      color: #FFFFFF;
    }
  }
}

@media only screen and (max-device-width: 768px) {
  .navbar {
    font-size: 1.8rem;
  }
}