.navbar {
  font-size: 1rem;
  background-color: #12365A;

  .navbar-brand {
    padding-top: 0;
    font-size: 1rem;
  }

  .navbar-brand, .nav-link {
    color: #B1B1B1;
    &:hover {
      color: #FFFFFF;
    }
  }
}