.social-media-links {
  padding: 1.5rem;
  font-size: 1.2rem;
  text-align: center;
  a {
    color: #666666;
    &:visited {
      color: #666666;
    }
    &:hover {
      color: #0E11AC;
    }
  }
}

.profile-picture {
  cursor: pointer;
  margin-top: 20px;
  &.img-thumbnail {
    border: 2px solid #96C425;
  }
  &:hover {
    border: 1px solid #96C425;
  }
}

.about-me {
  &.heading {
    text-align: center;
    color: #1CD4D1;
    font-size: 72px;
    font-family: 'Tangerine', serif;
    margin-top: 20px;
    .bengali {
      color: #B775B0;
      font-size: 30px;
      font-family: 'Hind Siliguri', serif;
    }
  }

  &.body .paragraph {
    margin-top: 40px;
    text-align: justify;
    color: #666666;
    font-size: 1.2rem;
    font-family: 'Josefin Slab', serif;
  }
}

.profile-summary {
  padding: 0;
  margin: 20px;
  color: #F18812;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  font-family: 'Josefin Slab', serif;
  list-style-type: none;
}