.social-media-links {
  padding: 10px;
  text-align: center;
  a {
    color: #666666;
    &:visited {
      color: #666666;
    }
    &:hover {
      color: #0E11AC;
    }
  }
}

.profile-picture {
  margin-top: 20px;
  &.img-thumbnail {
    border: 2px solid #96C425;
  }
  &:hover {
    border: 1px solid #96C425;
  }
}

.about-me {
  &.heading {
    color: #1CD4D1;
    font-size: 72px;
    font-family: 'Tangerine', serif;
    margin-top: 20px;
    .bengali {
      color: #B775B0;
      font-size: 30px;
      font-family: 'Hind Siliguri', serif;
    }
  }

  &.body .paragraph {
    margin-top: 40px;
    text-align: justify;
    color: #666666;
    font-size: 20px;
    font-family: 'Calligraffitti', sans-serif;
  }
}

.profile-summary {
  padding: 0;
  margin: 20px;
  color: #F18812;
  text-align: center;
  font-size: 1.10rem;
  font-weight: bold;
  font-family: "Andale Mono", monospace;
  list-style-type: none;
}