.tags .remove-tag {
  padding: 7px;
  margin-top: 0.8rem;
  margin-bottom: 0.3rem;
  background-color: #979797;
}

.cards {
  .card-block {
    min-height: 200px;
  }
}

.card {
  margin-top: 15px;
  .card-block {
    background-color: #ECEEEF;
    .card-title {
      text-align: center;
      font-family: 'Josefin Sans', sans-serif;
    }
    .card-text {
      font-size: 1.2rem;
      font-family: 'Indie Flower', cursive;
    }
  }
  .photo-small {
    border: 0;
    padding: 0;
    width: 100%;
    cursor: pointer;
    line-height: 1px;
  }
  .equipment_image {
    border: 0;
    padding: 0;
    width: 100%;
    line-height: 1px;
  }
  .tag {
    background-color: rgb(58, 85, 134);
  }
}

#photograph-modal {
  .close {
    opacity: 0.5;
    color: #F7F7F7;
    font-size: 1.2rem;

    &:hover {
      opacity: 1.0;
    }
  }

  .carousel-additional-controls {
    position: absolute;
    left: 48%;
    right: 48%;
    bottom: 20%;
    z-index: 999;
    opacity: 0.5;
    color: #F7F7F7;

    &:hover {
      opacity: 1.0;
    }

    .play-btn, .pause-btn {
      cursor: pointer;
    }
  }
}

.gearbox {
  margin-top: 15px;

  h3 {
    text-align: center;
  }

  .drawer {
    .drawer-button {
      display: block;
      cursor: pointer;
      color: rgba(125, 125, 125, 0.8);
      &:hover {
        color: rgba(39, 83, 131, 1);
      }
    }
  }
}