.tags .remove-tag {
  padding: 7px;
  margin-top: 0.8rem;
  margin-bottom: 0.3rem;
  background-color: #5cb85c;
}

@media only screen and (max-device-width: 768px) {
  .tags .remove-tag {
    font-size: 1.2rem;
  }
}

.cards {
  .card-block {
    min-height: 200px;
  }
}

.card {
  margin-top: 1.5rem;
  .card-block {
    background-color: #ECEEEF;
    .card-title {
      text-align: center;
      font-family: 'Josefin Sans', sans-serif;
    }
    .card-text {
      font-size: 1.2rem;
      font-family: 'Indie Flower', cursive;
    }
  }
  .photo-small {
    border: 0;
    padding: 0;
    width: 100%;
    cursor: pointer;
    line-height: 1px;
  }
  .equipment_image {
    border: 0;
    padding: 0;
    width: 100%;
    line-height: 1px;
  }
  .tag {
    font-size: 0.8rem;
    background-color: rgb(58, 85, 134);
  }

  @media only screen and (max-device-width: 768px) {
    .tag {
      font-size: 1.2rem;
    }
  }
}

#photograph-modal {
  .close {
    opacity: 0.5;
    color: #F7F7F7;
    font-size: 1.2rem;

    &:hover {
      opacity: 1.0;
    }
  }

  .carousel-additional-controls {
    position: absolute;
    left: 48%;
    right: 48%;
    bottom: 20%;
    z-index: 999;
    opacity: 0.5;
    color: #F7F7F7;

    &:hover {
      opacity: 1.0;
    }

    .play-btn, .pause-btn {
      cursor: pointer;
    }
  }
}

.drawer {
  margin-top: 2rem;
  .drawer-button {
    display: block;
    cursor: pointer;
    color: rgba(125, 125, 125, 0.8);
    &:hover {
      color: #5CB85C;
    }
  }
}

#hero-image {
  height: 750px;
  margin-top: -350px;
}