.search-results {
  margin-top: 1rem;
  text-align: center;
}

.photograph:hover {
  cursor: pointer;
}

.mb20 {
  margin-bottom: 20px;
}

hgroup {
  padding-left: 15px;
  border-bottom: 1px solid #ccc;
}

hgroup h1 {
  font: 500 normal 1.625em "Roboto", Arial, Verdana, sans-serif;
  color: #2a3644;
  margin-top: 0;
  line-height: 1.15;
}

hgroup h2.lead {
  font: normal normal 1.125em "Roboto", Arial, Verdana, sans-serif;
  color: #2a3644;
  margin: 0;
  padding-bottom: 10px;
}

.search-result {
  margin-top: 20px;

  .thumbnail {
    border-radius: 0 !important;
  }

  &:first-child {
    margin-top: 0 !important;
  }

  .col-md-2 {
    border-right: 1px dotted #ccc;
    min-height: 140px;
  }

  ul {
    text-align: left;
    padding-left: 0 !important;
    list-style: none;
  }

  ul li {
    font: 400 normal .85em "Roboto", Arial, Verdana, sans-serif;
    line-height: 30px;
  }

  ul li i {
    color: #368D8E;
    padding-right: 5px;
  }

  .col-md-7 {
    position: relative;
  }

  h3 {
    font: 500 normal 1.375em "Roboto", Arial, Verdana, sans-serif;
    margin-top: 0 !important;
    margin-bottom: 10px !important;
  }

  h3 > a, .search-result i {
    color: #248dc1 !important;
  }

  p {
    color: #959595;
    font-size: 1.0rem;
    text-align: justify;
  }

  span.plus {
    position: absolute;
    right: 0;
    top: 126px;
  }

  span.plus a {
    background-color: #248dc1;
    padding: 5px 5px 3px 5px;
  }

  span.plus a:hover {
    background-color: #414141;
  }

  span.plus a i {
    color: #fff !important;
  }

  span.border {
    display: block;
    width: 97%;
    margin: 0 15px;
    border-bottom: 1px dotted #ccc;
  }
}