%section
  .container-fluid
    .column-col-lg-12
      .column.col-lg-4
      .column.col-lg-8
        #write-up.card
          .card-header.text-xs-center
            %b= @writeup['title']
          - if @writeup['contentType'] == 'text-image'
            %img.center-block.card-image{:src => @writeup['imageUrl'], :alt => 'image'}
          - if @writeup['contentType'] == 'text-video'
            %iframe.video.center-block.card-video{:src => @writeup['videoUrl'], :allowfullscreen => '', :frameborder => '0'}
          - if @writeup['contentType'] == 'text-slide'
            %iframe.slide.center-block.card-slide{:src => @writeup['slideUrl'], :allowfullscreen => '', :frameborder => '0'}
          .card-block.markdown
            %textarea.card-markdown.markdown-data.hidden= @writeup['markdown']
            .card-markdown.markdown-body