%section.container-fluid#write-up
  %h2.title= @blog_post['title']
  .column.column-one.col-lg-4
    - if @blog_post['contentType'] == 'text'
      = image_tag('writeup-icon.png', {:alt => 'write-up', :class => 'image img img-fluid center-block', :style => 'width:60%'})
    - if @blog_post['contentType'] == 'text-image'
      %img.img-fluid.image{:src => @blog_post['imageUrl']}
    - if @blog_post['contentType'] == 'text-video'
      .video-container
        %iframe.video.center-block{:src => @blog_post['videoUrl'], :allowfullscreen => '', :frameborder => '0'}
    - if @blog_post['contentType'] == 'text-slide'
      .slide-container
        %iframe.slide.center-block{:src => @blog_post['slideUrl'], :allowfullscreen => '', :frameborder => '0'}
    - if @blog_post['code']
      .code.center-block
        .input-group
          %span.input-group-addon
            %i.fa.fa-github
          %input#repo-url.form-control{:type => 'text', :value => @blog_post['code']}
          %span.input-group-addon
            %i.fa.fa-clipboard.copy
  .column.column-two.col-lg-8
    .markdown
      %textarea.markdown-data.hidden= @blog_post['markdown']
      .markdown-body
%script
  init_good_reads();