%section.container-fluid#write-up
  .column.column-one.col-lg-5
    - if @blog_post['contentType'] == 'text'
      = image_tag('writeup-icon.png', {:alt => 'write-up', :class => 'image img img-fluid center-block', :style => 'width:60%'})
    - if @blog_post['contentType'] == 'text-image'
      %img.img-fluid.image{:src => @blog_post['imageUrl']}
    - if @blog_post['contentType'] == 'text-video'
      .video-container
        %iframe.video.center-block{:src => @blog_post['videoUrl'], :allowfullscreen => '', :frameborder => '0'}
    - if @blog_post['contentType'] == 'text-slide'
      .slide-container
        %iframe.slide.center-block{:src => @blog_post['slideUrl'], :allowfullscreen => '', :frameborder => '0'}
    %p.content= @blog_post['content']
  .column.column-two.col-lg-7
    %h2.title= @blog_post['title']
    .markdown
      %textarea.markdown-data.hidden= @blog_post['markdown']
      .markdown-body
%script
  init_good_reads();