%section
  .two-column-layout.container-fluid
    .row
      .column.column-one.col-lg-4
        %img.img-thumbnail.profile-picture.center-block{:src => get_resized_profile_image_url(@profile, 600, 400), :alt => 'profile picture'}
        .social-media-links
          .nav.nav-inline
            - for media in get_social_medias(@profile)
              = render partial: 'partials/social_media_link', :locals => {:media => media['media'], :url => media['url'], :target => '_blank'}
        %ul.profile-summary
          - for line in get_profile_summary(@profile)
            %li= line
      .column.column-two.col-lg-8
        %h1.about-me.heading
          Arpan Chaudhury
          %span.bengali
            ( অর্পণ চৌধূরী )
        .about-me.body.column.col-lg-12
          - for paragraph in get_profile_description(@profile)
            %p.paragraph.column.col-lg-6
              = paragraph
  - if !is_device
    #profile-image-modal.modal.fade{'aria-hidden' => 'true', 'aria-labelledby' => 'ProfileImageModal', :role => 'dialog', :tabindex => '-1'}
      .modal-dialog.modal-lg{:role => 'document'}
        .loader
          %h1 Loading quality images for you. Please wait.
          %i.fa.fa-inverse.fa-5x.fa-spinner.fa-spin
        .modal-content.hidden
          .modal-body.no-padding
            %img{:src => '', :alt => 'profile picture'}
            %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', :type => 'button'}
              %i.fa.fa-times-circle`
%script
  init_homepage();