#contact-modal.modal.fade{'aria-hidden' => 'true', 'aria-labelledby' => 'ContactModal', :role => 'dialog', :tabindex => '-1'}
  .modal-dialog{:role => 'document'}
    .modal-content
      .modal-header
        %button.close.modal-close{'aria-label' => 'Close', 'data-dismiss' => 'modal', :type => 'button'}
          %i.fa.fa-times-circle
        .h6
          Yeah! finally we can chat.
      .modal-body
        %form#contact{'accept-charset' => 'UTF-8', :action => '/contact', :method => 'post'}
          %fieldset.form-group
            %label{:for => 'visitor-email'} Your E-mail
            %input#visitor-email.form-control{:type => 'email'}
              %small.text-muted I'll never share your email with anyone else.
            .validation-text
          %ul.nav.nav-tabs{:role => 'tablist'}
            %li.nav-item
              %a.nav-link.active{'data-toggle' => 'tab', :href => '#message', :role => 'tab'} Message
            %li#preview-btn.nav-item
              %a.nav-link{'data-toggle' => 'tab', :href => '#preview', :role => 'tab'} Preview
          .tab-content.markdown
            #message.tab-pane.active{:role => 'tabpanel'}
              %fieldset.form-group
                %label{:for => 'visitor-message-body'} Leave a Message
                %small.text-muted &lt;Powered by Markdown&gt;
                %textarea#visitor-message-body.form-control.markdown-data{:rows => '8'}
            #preview.tab-pane{:role => 'tabpanel'}
              %small.text-muted This is how your message looks
              #visitor-message-preview.markdown-body
      .modal-footer
        %button.btn.btn-secondary.modal-close{:type => 'button', 'data-dismiss' => 'modal'} Close
        %button.btn.btn-primary#send-email{:type => 'submit'} Send