#contact-modal.modal.fade{'aria-hidden' => 'true', 'aria-labelledby' => 'ContactModal', :role => 'dialog', :tabindex => '-1'}
  .modal-dialog{:role => 'document'}
    .modal-content
      .modal-header
        %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', :type => 'button'}
          %i.fa.fa-times-circle
        .h6
          Yeah! finally we can chat.
      .modal-body
        %form#contact{'accept-charset' => 'UTF-8', :action => '/contact', :method => 'post'}
          %fieldset.form-group
            %label{:for => 'visitor-email'} Your E-mail
            %input#visitor-email.form-control{:type => 'email'}
              %small.text-muted I'll never share your email with anyone else.
            .validation-text
          %fieldset.form-group
            %label{:for => 'visitor-message-body'} Leave a Message
            %textarea#visitor-message-body.form-control{:rows => '5'}
      .modal-footer
        %button.btn.btn-secondary{:type => 'button', 'data-dismiss' => 'modal'} Close
        %button.btn.btn-primary#send-email{:type => 'submit'} Send