- for blog_post in blog_posts
  .card.card-block
    - if blog_post['contentType'] == 'text'
      = render partial: 'partials/text_card', :locals => {:blog_post => blog_post}
    - if blog_post['contentType'] == 'text-image'
      = render partial: 'partials/text_image_card', :locals => {:blog_post => blog_post}
    - if blog_post['contentType'] == 'text-video'
      = render partial: 'partials/text_video_card', :locals => {:blog_post => blog_post}
    - if blog_post['contentType'] == 'text-slide'
      = render partial: 'partials/text_slide_card', :locals => {:blog_post => blog_post}
%nav
  %ul.pager
    %li.pager-prev
      %a{:href => get_previous_page_url(pager, good_reads_path, {:topics => selected_topics})} Prev
    %li.pager-next
      %a{:href => get_next_page_url(pager, good_reads_path, {:topics => selected_topics})} Next