%nav.header.navbar.navbar-full.navbar-fixed-top
  %a.navbar-brand{href: root_path, target: '_self'}
    %span.fa-stack.fa-lg
      %i.fa.fa-square-o.fa-stack-2x
      %i.fa.fa-stack-1x{class: 'fa-home'}
  %ul.nav.navbar-nav
    %li.nav-item
      %a.nav-link{:href => '#'} GoodReads
    %li.nav-item
      %a.nav-link{:href => photography_path} Photography
    %li.nav-item
      %a.nav-link{:href => '#'} Tang
    %li.nav-item
      %a.nav-link{'data-target' => '#resume-modal', 'data-toggle' => 'modal'} Resume
    %li.nav-item
      %a.nav-link{'data-target' => '#contact-modal', 'data-toggle' => 'modal'} Contact
  %form.form-inline.pull-xs-right.col-sm-3
    .input-group
      %input.form-control{:placeholder => 'looking for something?', :type => 'text'}
        %span.input-group-btn
          %button.btn.btn-success-outline{:type => 'submit'} Search