%nav.navbar.navbar-full.navbar-fixed-top
  %a.navbar-brand{href: root_path, target: '_self'}
    %span.fa-stack.fa-lg
      %i.fa.fa-square-o.fa-stack-2x
      %i.fa.fa-stack-1x{class: 'fa-home'}
  %ul.nav.navbar-nav
    %li.nav-item
      %a.nav-link{:href => good_reads_path} GoodReads
    %li.nav-item
      %a.nav-link{:href => photography_path} Photography
    %li.nav-item
      %a.nav-link{'data-target' => '#resume-modal', 'data-toggle' => 'modal'} Resume
    %li.nav-item
      %a.nav-link{'data-target' => '#contact-modal', 'data-toggle' => 'modal'} Contact
  #search-form.form-inline.pull-xs-right{'accept-charset' => 'UTF-8', :action => '/search', :method => 'post'}
    .input-group
      %span.input-group-btn
        .dropdown.btn-group
          %button.dropdown-toggle.btn.btn-success-outline{:type => 'button', :value => 'write-ups', 'aria-expanded' => 'false', 'aria-haspopup' => 'true', 'data-toggle' => 'dropdown'}
            Write Ups
          .dropdown-menu{'aria-labelledby' => 'dropdown'}
            %a.dropdown-item{:value => 'write-ups'  } Write Ups
            .dropdown-divider
            %a.dropdown-item{:value => 'photographs'} Photographs
      %span.input-group-btn
        %span
        %input.search-query.form-control{:placeholder => 'looking for something?', :type => 'text'}
        %button.search-btn.btn.btn-success-outline{:type => 'button'} Search