.container-fluid
  .row
    .column.column-one.col-lg-12
      .tags.column.col-lg-12
        - for tag in tags
          %a.label.label-danger.remove-tag
            = tag
            %i.fa.fa-times
      - for i in 0..(image_details.size - 1)
        .column.col-lg-3
          .card
            = image_tag(get_photograph_url(image_details[i]), {:class => 'card-img-top img-thumbnail photo-small', 'data-target' => '#photograph-modal', 'data-toggle' => 'modal', 'target-carousel-item' => i})
            .card-block
              %h4.card-title= get_photograph_title(image_details[i])
              %p.card-text= get_photograph_description(image_details[i])
      %nav.column.col-lg-12
        %ul.pager
          %li.pager-prev
            %a{:href => get_previous_page_url(pager, photography_path, {:tags => tags})} Prev
          %li.pager-next
            %a{:href => get_next_page_url(pager, photography_path, {:tags => tags})} Next