#image-modal.modal.fade{'aria-hidden' => 'true', 'aria-labelledby' => 'ImageModal', :role => 'dialog', :tabindex => '-1'}
  .modal-dialog{:role => 'document'}
    .modal-content
      .modal-body.no-padding
        %img{:src => image_url, :alt => alternative_text}
        %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', :type => 'button'}
          %span{'aria-hidden' => 'true'} &times;