#resume-modal.modal.fade{'aria-hidden' => 'true', 'aria-labelledby' => 'ResumeModal', :role => 'dialog', :tabindex => '-1'}
  .modal-dialog.modal-lg{:role => 'document'}
    .modal-content
      .modal-header
        %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', :type => 'button'}
          %i.fa.fa-times-circle
        .h6
          Resume
      .modal-body.no-padding
        %embed.center-block{:src => '/resume', :type => 'application/pdf'}