.row.text-video
  .column.col-lg-6.video-container
    %iframe.video.center-block{:src => blog_post['videoUrl'], :allowfullscreen => '', :frameborder => '0'}
  .column.col-lg-6
    %h3.card-title= blog_post['title']
    %p.card-text= truncate(blog_post['content'], :length => 500, :separator => ' ')
    .btn.btn-primary.pull-right{:href => '#'} Read More